<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="auth-container">
      <div class="auth-content">
        
     <form id="forgot">
        <h3>Every hero deserves a fresh backstory<span> – reset your account</span></h3>
        <input type="email" id="email" placeholder="Email">
        <input type="submit" value="Reset Password">
        
        <div>
            <a href="/signup"><strong>I remember my account.</strong></a>
            <br>
            <p id="message" class="message">&nbsp;</p>
        </div>
      </form>
      </div>
  
      <img src="/static/images/forgot_img.png">
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("forgot");
        const message = document.getElementById("message");
    
        form.addEventListener("submit", async (event) => {
          event.preventDefault();
    
          const email = document.getElementById("email").value;
    
          try {
            const response = await fetch("/api/auth/recovery", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ email })
            });
    
            const result = await response.json();
    
            if (result.success) {
              message.style.color = "rgb(0, 105, 0)";
              message.textContent = result.message;
            } else {
              message.style.color = "red";
              message.textContent = result.message;
            }
          } catch (e) {
              message.style.color = "red";
              message.textContent = e.message;
          }
        });
      });
    </script>
</body>
</html>