<title>Opus</title>
<link rel="stylesheet" href="/static/css/global.css">
<link rel="shortcut icon" href="/static/images/logo.png" type="image/png">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>